.section {
  position: relative;
  height: 100vh;
}

.section .section-center {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#project {
  font-family: "Lato", sans-serif;
  background-image: url("../img/wallpaper.jpg");
  background-size: cover;
  background-position: center;
  color: #191a1e;
}

.project-form {
  position: relative;
  background: #fff;
  max-width: 642px;
  width: 100%;
  margin: auto;
  padding: 45px 25px 25px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.project-form .form-group {
  position: relative;
  margin-bottom: 20px;
}

.project-form .form-control {
  background-color: #fff;
  height: 65px;
  padding: 0px 15px;
  padding-top: 24px;
  color: #191a1e;
  border: 2px solid #dfe5e9;
  font-size: 16px;
  font-weight: 700;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 4px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.project-form .form-control::-webkit-input-placeholder {
  color: #dfe5e9;
}

.project-form .form-control:-ms-input-placeholder {
  color: #dfe5e9;
}

.project-form .form-control::placeholder {
  color: #dfe5e9;
}

.project-form .form-control:focus {
  background: #f9fafb;
}

.project-form input[type="date"].form-control:invalid {
  color: #dfe5e9;
}

.project-form select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.project-form select.form-control + .select-arrow {
  position: absolute;
  right: 6px;
  bottom: 6px;
  width: 32px;
  line-height: 32px;
  height: 32px;
  text-align: center;
  pointer-events: none;
  color: #dfe5e9;
  font-size: 14px;
}

.project-form select.form-control + .select-arrow:after {
  content: "\279C";
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.project-form .form-label {
  position: absolute;
  top: 6px;
  left: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
  height: 24px;
  font-size: 12px;
  color: #98c9ee;
}

.project-form .form-checkbox input {
  position: absolute !important;
  margin-left: -9999px !important;
  visibility: hidden !important;
}

.project-form .form-checkbox label {
  position: relative;
  padding-top: 4px;
  padding-left: 30px;
  font-weight: 700;
  color: #191a1e;
}

.project-form .form-checkbox label + label {
  margin-left: 15px;
}

.project-form .form-checkbox input + span {
  position: absolute;
  left: 2px;
  top: 4px;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid #dfe5e9;
  border-radius: 50%;
}

.project-form .form-checkbox input + span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: #4fa3e3;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.project-form .form-checkbox input:not(:checked) + span:after {
  opacity: 0;
}

.project-form .form-checkbox input:checked + span:after {
  opacity: 1;
  width: 10px;
  height: 10px;
}

.project-form .submit-btn {
  color: #fff;
  background-color: #4fa3e3;
  font-weight: 400;
  height: 50px;
  font-size: 18px;
  border: none;
  width: 100%;
  border-radius: 4px;
  text-transform: uppercase;
}

.project-cta {
  margin-top: 45px;
}

.project-cta h1 {
  font-size: 54px;
  text-transform: uppercase;
  color: #4fa3e3;
  font-weight: 400;
}

.project-cta h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: #043b64;
  font-weight: 400;
  margin-top: 50px;
}

.project-cta h3 {
  font-size: 20px;
  text-transform: uppercase;
  color: #191a1e;
  font-weight: 400;
  margin-top: 0px;
}

.project-cta p {
  font-size: 18px;
  color: #191a1e;
  text-align: justify;
}
