<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Project ML - Clustering</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" />

    <!-- Bootstrap  CSS -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>

  <body>
    <div id="project" class="section">
      <!-- FORM START -->
      <form action="/predict" method="post">
        <div class="section-center">
          <div class="container bg-white p-5" style="--bs-bg-opacity: 0.95">
            <div class="row">
              <div class="col-md-4 mb-2">
                <h1>Wheat Variety Prediction</h1>
              </div>
              <div class="col-md-7 col-md-offset-1"></div>
            </div>
            <div class="row">
              <div class="col-md-4 mb-2">
                <div class="classification-cta">
                  <p name="desc" style="text-align: justify">
                    Dataset yang digunakan adalah sebuah dataset hasil penelitian terhadap 3 jenis varietas gandum yang berbeda, antara lain Kama,
                    Rosa, dan Candaian. Masing-masing varietas terdapat 70 data yang dipilih secara acak dalam percobaan penelitian dengan menggunakan
                    bantuan sinar-X yang tidak merusak dan alat pencitraan yang canggih.
                  </p>
                </div>
              </div>
              <div class="col-md-7 col-md-offset-1">
                <div class="classification-form ms-5">
                  <!-- Menu 1 START -->
                  <div class="row pb-2">
                    <div class="col-md-4">
                      <div class="form-group">
                        <span class="form-label">Area</span>
                        <input type="number" name="area" id="area" required placeholder="ex: 16.14" />
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <span class="form-label">Perimeter</span>
                        <input type="number" name="perimeter" id="perimeter" required placeholder="ex: 14.99" />
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <span class="form-label">Compactness</span>
                        <input type="number" name="compactness" id="compactness" required placeholder="ex: 0.9034" />
                      </div>
                    </div>
                  </div>
                  <!-- Menu 1 END -->
                  <!-- Menu 2 START -->
                  <div class="row pb-2">
                    <div class="col-md-4">
                      <div class="form-group">
                        <span class="form-label">Length Of Kernel</span>
                        <input type="number" name="lengthOfKernel" id="lengthOfKernel" required placeholder="ex: 5.658" />
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <span class="form-label">Width Of Kernel</span>
                        <input type="number" name="widthOfKernel" id="widthOfKernel" required placeholder="ex: 3.562" />
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <span class="form-label">Asymmetry Coefficient</span>
                        <input type="number" name="asymmetryCoefficient" id="asymmetryCoefficient" required placeholder="ex: 1.355" />
                      </div>
                    </div>
                  </div>
                  <!-- Menu 2 END -->
                  <!-- Menu 3 START -->
                  <div class="row pb-2">
                    <div class="col-md-5">
                      <div class="form-group">
                        <span class="form-label">Length Of Kernel Groove</span>
                        <input type="number" name="lengthOfKernelGroove" id="lengthOfKernelGroove" required placeholder="ex: 5.175" />
                      </div>
                    </div>
                  </div>
                  <!-- Menu 3 END -->
                </div>
              </div>
            </div>
            <div class="row">
              <!-- Prediction START -->
              <div class="col-md-4 mb-2">
                <h2>Hasil Prediksi</h2>
                <h4 id="res">{{ result }}</h4>
              </div>
              <!-- PREDICTION END -->
              <!-- Button START -->
              <div class="col-md-7 col-md-offset-1">
                <div class="form-btn ms-5">
                  <button type="submit" class="submit-btn btn btn-success">Predict Now</button>
                </div>
              </div>
              <!-- Button END -->
            </div>
          </div>
        </div>
      </form>
      <!-- FORM END -->
    </div>
    <!-- Bootstrap  Script -->
    <link type="text/javascript" rel="script" href="{{ url_for('static', filename='css/bootstrap.min.js') }}" />
  </body>
</html>
